<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form class="editCategoriesAndProducts"
          th:fragment="editProductEditor"
          th:action="@{/editor/edit/product}" method="post"
          th:object="${product}">

        <label for="productName">Name</label>
        <div class="form-group input-group">
            <input type="text" id="productName" th:field="*{productName}">
        </div>

        <label for="productPrice">Price</label>
        <div class="form-group input-group">
            <input type="text" id="productPrice" th:field="*{productPrice}">
        </div>

        <label for="categoryDropDown">Category</label>
        <div>
            <select th:field="*{categoryCode}" id="categoryDropDown">
                <option th:each="category : ${allCategories}" th:text="${category.categoryName}" th:value="${category.categoryCode}">
                </option>
            </select>
        </div>

        <input type="hidden" th:field="*{productCode}">

        <div class="row zeroPadding topBottomMargin">
            <a class="formButtons btn btn-danger" th:href="@{/editor/delete/product}">Delete</a>
            <a class="btn btn-primary formButtons" th:href="@{/editor/cancel}">Cancel</a>
            <button type="submit" class="btn btn-primary formButtons">Save</button>
        </div>
    </form>
</div>
</body>
</html>