<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container-fluid zeroPadding scrollableBtnBlock" th:fragment="productOverviewEditor">
    <div th:each="product : ${allProductsByCategory}">
        <div>
            <a class="btn btn-primary btn-block buttonBlock productBlock"
                th:href="@{/editor/product/{productCode}(productCode=${product.productCode})}"
                th:classappend="${selectedProduct == product.productCode} ? selectedButton : ' '">

                <table>
                    <td class="productItem" th:text="${product.productName}"></td>
                    <td class="productItem alignTextRight" th:text="'&#x20AC' + ' ' + ${product.productPrice}"></td>
                </table>
            </a>
        </div>
    </div>
</div>
</body>
</html>