<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form class="editCategoriesAndProducts" method="post"
          th:action="@{/categories/addNew}"
          th:fragment="addNewCategory"
          th:object="${category}">

        <label for="categoryName">Category Name</label>
        <div class="form-group input-group">
            <input id="categoryName" th:field="*{categoryName}" type="text">
        </div>

        <div>
            <a class="btn btn-primary formButtons " th:href="@{/categories/cancel}">Cancel</a>
            <button class="btn btn-primary" type="submit">Save category</button>
        </div>
    </form>
</div>
</body>
</html>