<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form class="editCategoriesAndProducts"
          th:fragment="editCategory"
          th:action="@{/categories/edit}" method="post"
          th:object="${category}">

        <label for="categoryName">Name</label>
        <div class="form-group input-group">
            <input type="text" id="categoryName" th:field="*{categoryName}">
        </div>

        <input type="hidden" th:field="*{categoryCode}">
        <div>
            <a class="btn btn-danger formButtons" th:href="@{/categories/delete}"
               th:classappend="${clearedToDelete == true} ? ' ' : disabled">Delete</a>
            <a class="btn btn-primary formButtons " th:href="@{/categories/cancel}">Cancel</a>
            <button type="submit" class="btn btn-primary formButtons">Save</button>
        </div>
        <p></p>
        <div th:if="${clearedToDelete == false}" class="alert alert-danger categoryAlert" role="alert">
            <p>A category cannot be deleted when it contains products.</br>
                <a th:href="@{/products/selectCategoryToClear/{categoryCode}(categoryCode=${category.categoryCode})}"
                   th:object="${category}" class="categoryLink">Remove all products</a> from this category first.
            </p>
        </div>
    </form>
</div>
</body>
</html>