<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form class="editProduct" th:fragment="addCreditForm" th:action="@{accounts/addCredit}"
      method="post" th:object="${user}">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label boldText" for="prepaidBalance">Current balance:</label>
    <div class="col-sm-9">
      <input type="number" id="prepaidBalance" th:field="*{prepaidBalance}" readonly class="form-control-plaintext">
    </div>
  </div>
  <label for="credit">Add to account balance:</label>
  <div class="form-group input-group">
    <input type="number" id="credit" th:name="credit">
  </div>
  <input type="hidden" th:field="*{userCode}">
  <div class="row zeroPadding topBottomMargin">
    <button type="submit" class="btn btn-primary formButtons">Save</button>
    <a class="btn btn-primary formButtons" th:href="@{/accounts/close}">Cancel</a>
  </div>
</form>
</body>
</html>