<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="customerAccountList" th:each="user : ${allUsers}">
    <a class="btn btn-primary btn-lg btn-block buttonBlock customerAccountBlock"
       th:href="@{/accounts/{userCode}(userCode=${user.getUserCode()})}"
       th:classappend="${selectedUser == user.userCode} ? selectedButton : ' ' ">
        <table>
          <td class="productItem" th:text="${user.getFullName}"></td>
          <td class="productItem alignTextRight" th:text="'&#x20AC' + ' ' + ${user.prepaidBalance}"></td>
        </table>
    </a>
</div>
</body>
</html>