<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form class="editCategoriesAndProducts"
          method="post"
          th:action="@{/products/addNew}"
          th:fragment="addNewProduct"
          th:object="${product}">

        <label for="productName">Name</label>
        <div class="form-group input-group">
            <input id="productName" th:field="*{productName}" type="text">
        </div>

        <label for="productPrice">Price</label>
        <div class="form-group input-group">
            <input id="productPrice" th:field="*{productPrice}" type="text">
        </div>

        <label for="categoryDropDown">Category</label>
        <div>
            <select id="categoryDropDown" th:field="*{categoryCode}">
                <option th:each="category : ${allCategories}" th:text="${category.categoryName}"
                        th:value="${category.categoryCode}">
                </option>
            </select>
        </div>

        <div>
            <p></p>
            <a class="btn btn-primary formButtons" th:href="@{/products/cancel}">Cancel</a>
            <button class="btn btn-primary formButtons" type="submit">Save</button>
        </div>
    </form>
</div>

</body>
</html>