<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form class="editCategoriesAndProducts"
          th:fragment="editProduct"
          th:action="@{/products/edit}" method="post"
          th:object="${product}">

        <label for="productName">Product Name</label>
        <div class="form-group input-group">
            <input type="text" id="productName" th:field="*{productName}">
        </div>

        <label for="productPrice">Product Price</label>
        <div class="form-group input-group">
            <input type="text" id="productPrice" th:field="*{productPrice}">
        </div>

        <label for="categoryDropDown">Category</label>
        <div>
            <select th:field="*{categoryName}" id="categoryDropDown">
                <option th:each="category : ${allCategories}" th:text="${category.categoryName}" th:value="${category.categoryName}">
                </option>
            </select>
        </div>

        <input type="hidden" th:field="*{productCode}">

        <div class="row zeroPadding topBottomMargin">
            <a class="btn btn-primary formButtons deleteButton" th:href="@{/products/delete}">Delete</a>
            <a class="btn btn-primary formButtons " th:href="@{/products/cancel}">Cancel</a>
            <button type="submit" class="btn btn-primary formButtons">Save</button>
        </div>
    </form>
</div>
</body>
</html>