<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <div th:fragment="categoryOverview" class="container-fluid zeroPadding btn-block">
      <div th:each="category : ${allCategories}">
          <a class="btn btn-primary btn-lg btn-block categoriesBlock"
             th:text="${category.categoryName}"
             th:href="@{/selectCategory/{categoryName}(categoryName=${category.categoryName})}">
          </a>
      </div>
  </div>

</body>
</html>