<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org" xmlns:th="https://www.thymeleaf.org">

<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title th:replace="${title}">Base title</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
    <link href="/css/Clups.css" rel="stylesheet" type="text/css">
</head>

<nav class="navbar navbar-expand-lg navbar-light zeroPadding" th:fragment="navbar">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
            <li class="nav-link topBottomPadding"
                th:classappend="${selectedPage == 'mainPage'} ? currentPage : ' '">
                <a class="nav-link" th:href="@{/}">Order</a>
            </li>
            <li class="nav-link topBottomPadding"
                th:classappend="${selectedPage == 'productPage'} ? currentPage : ' '">
                <a class="nav-link" th:href="@{/products}">Products</a>
            </li>
            <li class="nav-link topBottomPadding"
                th:classappend="${selectedPage == 'categoryPage'} ? currentPage : ' '">
                <a class="nav-link" th:href="@{/categories}">Categories</a>
            </li>
            <li class="nav-link topBottomPadding"
                th:classappend="${selectedPage == 'userPage'} ? currentPage : ' '">
                <a class="nav-link" th:href="@{/accounts}">Accounts</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-link" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/logout}">Logout <span sec:authentication="name"></span></a>
            </li>
        </ul>
    </div>
</nav>

<body>
<div th:fragment="bottomScripts">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" type="application/css"></script>
</div>
</body>

</html>