<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div class="container-fluid zeroPadding" th:fragment="productOverview">
    <div th:each="product : ${allProductsByCategory}">
        <div class="btn btn-primary btn-block buttonBlock productBlock">
            <a th:href="@{/order/{productName}(productName=${product.productName})}">
                <table>
                        <td class="productItem" th:text="${product.productName}"></td>
                        <td class="productItem alignPrice" th:text="${product.productPrice}"></td>
                </table>
            </a>
        </div>
    </div>
</div>
</body>
</html>