<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

  <div th:fragment="productOverview" class="container zeroPadding btn-block">
      <div th:each="product : ${allProductsByCategory}">
           <a class="btn btn-primary btn-block productsBlock"
              th:href="@{/order/{productName}(productName=${product.productName})}"
              th:text="${product.productName + ' ' + product.productPrice}">
           </a>
      </div>
  </div>

</body>
</html>