<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/general :: errorHeader(~{:: title})">
  <meta charset="UTF-8">
  <title>500 Not Found</title>
</head>

<body>
<div class="Error">
  <span class="ErrorCode">404</span>
  <p></p>
  <span class="Errormsg">There's nothing here!</span>
  <p></p>
  <span>We're sorry, the page you are looking for does not exist<br></span>
  <p></p>
  <a class="linky" href="/order">Back to Orders</a>
</div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>