<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/general :: errorHeader(~{:: title})">
  <meta charset="UTF-8">
  <title>500 Not Found</title>
</head>

<body>
<div class="Error">
  <span class="ErrorCode">500</span>
  <p></p>
  <span class="Errormsg">Internal Server Error</span>
  <p></p>
  <span>Sorry, it seems an internal error prevented the server from fulfilling this request.<br></span>
  <p></p>
  <a class="linky" href="/order">Back to Orders</a>
</div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>