<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="customerAccountList" th:each="customer : ${allCustomers}">
  <a class="btn btn-primary btn-lg btn-block buttonBlock categoriesBlock"
     th:href="@{/customers/{customerCode}(customerCode=${customer.getCustomerCode()})}">
    <table>
      <td class="customerAccountBlock" th:text="${customer.getFullName}"></td>
      <td class="customerAccountBlock alignTextRight" th:text="${customer.prepaidBalance}"></td>

    </table>
  </a>
</div>
</body>
</html>