a:focus, a:hover, a:active, a {
    text-decoration: none;
    color: inherit;
}

.addNewButton {
    background-color: cadetblue;
}

.alignTextRight{
    text-align: right;
}

.boldText {
    font-weight: bold;
    padding-bottom: 0;
    padding-top: 0;
}

.borderedRow{
    border: solid 3px white;
}

.borderedSection {
    border: solid 3px black;
}

.buttonBlock {
    border-radius: 10px;
    font-family: sans-serif;
    border: solid white medium;
    color: white;
    text-align: left;
}

.categoryAlert {
    width: max-content;
}

.categoryLink {
    text-decoration-line: underline;
    font-weight: bold;
}

.categoriesBlock {
    background-color: steelblue;
    padding: 30px;
}

.currentPage {
    background-color: white;
}

.customerAccountBlock {
    width: 300px;
}

.editCategoriesAndProducts{
    padding: 10px;
    font-family: sans-serif;
}

.fitHeight {
    height: 100%;
}

.formButtons {
    width: 18%;
    margin-right: 4%;
}

.fullWidth {
    width: 100%;
}

.navbar {
    font-family: sans-serif;
    background-color: dodgerblue;
    text-transform: uppercase;
    font-weight: bold;
}

.order {
    border-radius: 0;
    font-family: Courier;
    padding: 10px;
}

.orderTable {
    display: inline-block;
    overflow: auto;
    height: 100%;
    width: 100%;
    text-align: left;
}

.payButton {
    width: 40%;
    margin-bottom: 5%;
}

.prepaidBlock {
    padding: 10px;
    width: 100%;
}

.prepaidText {
    overflow: hidden;
    white-space: nowrap;
}

.prepaidHeight {
    height: calc(100% - 175px);
}

.prepaidSearchButton {
    width: 100px;
    margin-bottom: 25px;
}

.productBlock {
    background-color: lightslategray;
    padding: 20px;
}

.productItem {
    width: 250px;
}

.scrollableBtnBlock {
    max-height: 100%;
    overflow: auto;
}

.setMaxScreenSize {
    display: inline-block;
    height: calc(100vh - 120px);
}

.setMaxScreenSizeEditor {
    display: inline-block;
    height: calc(100vh - 200px);
}

.topBottomMargin {
    margin-top: 25px;
    margin-bottom: 25px;
}

.topBottomPadding {
    padding-top: 15px;
    padding-bottom: 15px;
}

.totalPrice {
    width: 420px;
    font-weight: bold;
}

.totalPriceTag {
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
}

.zeroPadding {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}