.navbar {
    font-family: sans-serif;
    background-color: dodgerblue;
    text-transform: uppercase;
    font-weight: bold;
    }

.buttonBlock {
    border-radius: 10px;
    font-family: sans-serif;
    border: solid white medium;
    color: white;
    text-align: left;
}

.categoriesBlock {
    background-color: steelblue;
    padding: 30px;
}

.productBlock {
    background-color: lightslategray;
    padding: 20px;
}

.orderTable {
    display: inline-block;
    overflow: auto;
    height: 475px;
    width: 485px;
    text-align: left;
}

.order {
    border-radius: 0;
    font-family: Courier;
    padding: 10px;
}

.editProduct{
    padding: 10px;
    font-family: sans-serif;
}

.zeroPadding {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.borderedSection {
    border: solid 3px black;
}

.topBottomMargin {
    margin-top: 25px;
    margin-bottom: 25px;
}

.alignPrice{
    text-align: right;
}

.payButton {
    height: 50px;
    width: 200px;
}

a:focus, a:hover, a:active, a {
    text-decoration: none;
    color: inherit;
}

.productItem {
    width: 250px;
}

.totalPrice {
    width: 420px;
    font-weight: bold;
}