<!DOCTYPE html>
<html lang="EN" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{::title})">
    <meta charset="UTF-8">
    <title>Category Editor</title>
</head>
<body>
<nav th:replace="fragments/general :: navbar"></nav>
<div class="container-fluid zeroPadding">

    <div class="row justify-content-between borderedRow topBottomMargin">
        <div class="col-7"><a class="btn btn-info btn-lg" th:href="@{/categories/addNew}">Add new category</a></div>
        <div class="col-4"></div>
    </div>

    <div class="row topBottomMargin no-gutters justify-content-between">

        <div class="col-4 borderedSection">
            <div th:replace="fragments/categoryEditorFragments/categoryOverviewCE :: categoryOverviewCE"></div>
        </div>
        <block class="col-7 borderedSection">
            <div th:if="${formCatState} == true">
                <th:block th:if="${category.categoryName} == null">
                    <div th:replace="fragments/categoryEditorFragments/addNewCategory :: addNewCategory"></div>
                </th:block>
                <th:block th:unless="${category.categoryName} == null">
                    <div th:replace="fragments/categoryEditorFragments/editCategory :: editCategory"></div>
                </th:block>
            </div>
        </block>
    </div>
    <div class="row topBottomMargin no-gutters justify-content-between">
        <div class="col-4">
            <div><a class="btn btn-info" th:href="@{/categories/addNew}">Add new category</a></div>
        </div>
        <div class="col-7">
            <p></p>
        </div>
</div>
<div th:replace="fragments/general :: bottomScripts"></div>
</div>
</body>
</html>