<!DOCTYPE html>
<html lang="EN" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<nav th:replace="fragments/general :: navbar"></nav>
<div class="container-fluid zeroPadding">
    <div class="row topBottomMargin no-gutters justify-content-between">
        <div class="col-7 borderedSection">
            <div class="row no-gutters">
                <div class="col-5 zeroPadding">
                    <div th:replace="fragments/mainPageFragments/categoryOverview :: categoryOverview"></div>
                </div>
                <div class="col-7 zeroPadding">
                    <div th:replace="fragments/mainPageFragments/productOverview :: productOverview"></div>
                </div>
            </div>
        </div>
            <div class="col-4 borderedSection">
                <div th:replace="fragments/mainPageFragments/order :: order"></div>
            </div>
    </div>
    <div th:replace="fragments/general :: bottomScripts"></div>
</div>
</body>
</html>