<!DOCTYPE html>
<html lang="EN" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{::title})">
  <meta charset="UTF-8">
  <title>Product Editor</title>
</head>
<body>
<nav th:replace="fragments/general :: navbar"></nav>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="container">
        <table>
          <tr>
            <th>Category</th>
            <th></th>
          </tr>
          <tbody>
          <tr th:each="category : ${allCategories}">
            <td><a th:text="${category.categoryName}" th:href="@{/products/selectCategory/{categoryName}(categoryName=${category.categoryName})}" class="btn btn-info">Add</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">

      <div class="container">
        <table>
          <tr>
            <th>Product name</th>
            <th>Price</th>
            <th></th>
          </tr>
          <tbody>
          <tr th:each="product : ${allProductsByCategory}">
            <td>
              <a class="btn btn-info" th:text="${product.productName + ' ' + product.productPrice}">
            </a>
            </td>
          </tr>
          <tr>
            <td>
              <a class="btn btn-info" th:href="@{/products/addNew}">Add new product</a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>

    </div>
    <div class="col">

    </div>
  </div>
  <div th:replace="fragments/general :: bottomScripts"></div>
</div>
</body>
</html>