<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container-fluid zeroPadding btn-block scrollableBtnBlock" th:fragment="categoryOverview">
    <div th:each="category : ${allCategories}">
        <a class="btn btn-primary btn-lg btn-block buttonBlock categoriesBlock"
           th:href="@{/selectCategory/{categoryName}(categoryName=${category.categoryName})}"
           th:text="${category.categoryName}">
        </a>
    </div>
</div>
</body>
</html>