<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container fitHeight" th:fragment="order">
    <div class="d-flex align-items-start flex-column fitHeight" >

        <div class="orderTable">
            <table>
                <tr>
                    <th>RECEIPT</th>
                </tr>
                <tr th:each="orderItem : ${orderList}">
                    <td>
                        <a class="order"
                           th:href="@{/order/remove/{productCode}(productCode=${orderItem.orderedProduct.productCode})}"
                           th:text="${orderItem.count +
                                    '   ' +
                                    orderItem.orderedProduct.productName +
                                    '   ' +
                                    '&#x20AC' + ' ' +
                                    orderItem.calculateTotalPrice}">
                        </a>
                    </td>
                </tr>
            </table>
        </div>

        <table>
            <tr class="order">
                <td class="totalPrice alignTextRight">Total price:</td>
                <td class="totalPriceTag alignTextRight" th:text="' ' + '&#x20AC' + ' ' + ${orderTotal}"></td>
            </tr>
        </table>
        <div class="row zeroPadding container-fluid justify-content-between">
            <a class="btn btn-info payButton" th:href="@{/order/clear}">PAY CASH</a>
            <a class="btn btn-info payButton" th:href="@{/order/prepaid}">PAY PREPAID</a>
        </div>
    </div>

</div>
</body>
</html>