<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container fitReceiptHeight" th:fragment="order">
    <div class="d-flex align-items-start flex-column receipt fitHeight orderTable" >
        <h2 class="receiptHeader">RECEIPT</h2>
        <div class="receiptLine"></div>
        <div th:each="orderItem : ${orderList}">
            <a class="order"
               th:href="@{/order/remove/{productCode}(productCode=${orderItem.orderedProduct.productCode})}">
                <table class="fullWidth">
                    <td class="receiptText receiptProductCount" th:text="${orderItem.count}"></td>
                    <td class="receiptText receiptProduct" th:text="${orderItem.orderedProduct.productName}"></td>
                    <td class="receiptText receiptProductPrice" th:text="'&#x20AC' + ' ' + ${orderItem.calculateTotalPrice}"></td>
                </table>
            </a>
        </div>
        <div class="receiptBottom">
            <div class="receiptLine2"></div>

            <table>
                <td class="totalPrice order alignTextRight">Total price:</td>
                <td class="totalPriceTag order alignTextRight" th:text="' ' + '&#x20AC' + ' ' + ${orderTotal}"></td>
            </table>
        </div>
        </br>

    </div>
    </br>

    <div class="container-fluid fullWidth prepaidButtonBlock">
        <div class="row container-fluid justify-content-between" th:if="${showUserSearch == false}">
            <a class="btn btn-info payButton" th:href="@{/order/clear}">CASH</a>
            <a class="btn btn-info payButton" th:href="@{/order/prepaid}">PREPAID</a>
        </div>

        <th:block th:if="${showUserSearch == true}">
            <div class="row container-fluid justify-content-end fullWidth">
                <div class="col-4">
                    <div class="form-group row"  th:object="${selectedCustomer}">
                        <div class="col-sm-7">
                            <span id="fullName" th:text="*{fullName}" class="customerText"></span>
                        </div>
                        <div class="col-sm-7">
                            <th:block th:if="${selectedCustomer.prepaidBalance != null}">
                                <span id="prepaidBalance" th:text="' ' + '&#x20AC' + ' ' + *{prepaidBalance}"></span>
                            </th:block>
                        </div>
                    </div>
                </div>

                <div class="col-8">

                    <div class="row container justify-content-end">
                        <th:block th:if="${balanceSufficient == true}">
                            <a class="btn btn-info prepaidButton" th:href="@{/order/payPrepaid}">PAY</a>
                        </th:block>
                        <a class="btn btn-info prepaidButton prepaidButtonCancel" th:href="@{/order/cancel}">CANCEL</a>
                    </div>
                </div>
            </div>

            <div class="row" th:if="${balanceSufficient == false}">
                <p th:unless="${selectedCustomer.fullName == ''}" class="alert alert-danger categoryAlert"
                   role="alert">The balance is not sufficient</p>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>