<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container fitReceiptHeight" th:fragment="order">
    <div class="d-flex align-items-start flex-column fitHeight receipt" >
        <h2 class="receiptHeader">RECEIPT</h2>
        <div class="receiptLine"></div>
        <div class="orderTable">
            <table>
                <tr th:each="orderItem : ${orderList}">
                    <td>
                        <a class="order"
                           th:href="@{/order/remove/{productCode}(productCode=${orderItem.orderedProduct.productCode})}"
                           th:text="${orderItem.count +
                                    '   ' +
                                    orderItem.orderedProduct.productName +
                                    '   ' +
                                    '&#x20AC' + ' ' +
                                    orderItem.calculateTotalPrice}">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="receiptLine2"></div>

        <table>
            <tr class="order">
                <td class="totalPrice alignTextRight">Total price:</td>
                <td class="totalPriceTag alignTextRight" th:text="' ' + '&#x20AC' + ' ' + ${orderTotal}"></td>
            </tr>
        </table>
        </br>

    </div>
    </br>
    <div class="container-fluid fullWidth prepaidButtonBlock">
        <div class="row container-fluid justify-content-between" th:if="${showUserSearch == false}">
            <a class="btn btn-info payButton" th:href="@{/order/clear}">CASH</a>
            <a class="btn btn-info payButton" th:href="@{/order/prepaid}">PREPAID</a>
        </div>

        <th:block th:if="${showUserSearch == true}">
            <div class="row container-fluid fullWidth">
                <div class="col-5">
                    <div class="form-group row"  th:object="${selectedCustomer}">
                        <div class="col-sm-7">
                            <span id="fullName" th:text="*{fullName}" class="customerText"></span>
                        </div>
                        <div class="col-sm-7">
                            <th:block th:if="${selectedCustomer.prepaidBalance != null}">
                                <span id="prepaidBalance" th:text="' ' + '&#x20AC' + ' ' + *{prepaidBalance}"></span>
                            </th:block>
                        </div>
                    </div>
                </div>

                <div class="col-7">

                    <div class="row container justify-content-between">
                        <th:block th:if="${balanceSufficient == true}">
                            <a class="btn btn-info payButton prepaidButton" th:href="@{/order/payPrepaid}">PAY</a>
                            <a class="btn btn-info payButton prepaidButton" th:href="@{/order/cancel}">CANCEL</a>
                        </th:block>
                        <th:block th:if="${balanceSufficient == false}">

                            <a class="btn btn-info payButton prepaidButton" th:href="@{/order/cancel}">CANCEL</a>
                        </th:block>
                    </div>

                </div>
            </div>

            <div class="row" th:if="${balanceSufficient == false}">
                <p th:unless="${selectedCustomer.fullName == ''}" class="alert alert-danger categoryAlert fullWidth"
                   role="alert">The balance is not sufficient</p>
            </div>
        </th:block>

    </div>
</div>
</body>
</html>