<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container fitHeight" th:fragment="searchCustomer">
    <form th:action="@{/users/search}" id="searchForm">
        <div class="row zeroPadding justify-content-between">
            <div class="searchFormInput">
                <input type="text" class="form-control bottomMargin" name="request" placeholder="Leave blank to show all names"/>
            </div>
            <div class="searchFormButton">
                <input type="submit" class="btn btn-primary fullWidth bottomMargin" value="Filter"/>
            </div>
        </div>
    </form>
    <div class="prepaidHeight">
        <div class="container-fluid zeroPadding scrollableBtnBlock">
            <div th:each="user : ${userList}">
                <a class="btn btn-block buttonBlock btn-primary searchCustomerButton prepaidBlock fullWidth"
                   th:href="@{/order/customer{userCode}(userCode=${user.getUserCode})}"
                    <table class="fullWidth">
                        <td class="prepaidBlock prepaidText" th:text="${user.fullName}"></td>
                        <td class="prepaidBlock prepaidText alignTextRight" th:text="'&#x20AC' + ' ' + ${user.prepaidBalance}"></td>
                    </table>
                </a>
            </div>
        </div>
    </div>

</div>
</body>
</html>